@import url("https://fonts.googleapis.com/css?family=Quicksand|Sigmar+One&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  background-image: url("../public/tank-bg.jpg");
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(23, 28, 34, 0.8);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.particles {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.app_container {
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.content_container {
  background-color: rgba(27, 21, 21, 0.5);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: white;
  height: 90%;
  width: 75%;
  max-width: 75%;
  max-height: 90%;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 10px;
  text-decoration: none;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.friend_container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(27, 21, 21, 0.65);
}

.friend_info {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  width: 75%;
}

.friend_menu {
  width: 25%;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

.kick_icon {
  position: absolute;
  right: 1%;
  top: 0;
  transition: ease-in 0.3s;
  cursor: pointer;
}
.invite_icon,
.remove_icon {
  margin-right: 5px;
  transition: ease-in 0.3s;
  cursor: pointer;
}

svg:hover {
  color: red;
  transition: ease-in-out 0.3s;
}

.card-text {
  margin: 0;
}

.invite_button {
  width: 50px;
  height: 10px;
  margin: 0;
  font-size: 9px;
  justify-content: center;
}

.party_member {
  position: relative;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: rgba(27, 21, 21, 0.65);
}

.nick,
.clan {
  position: relative;
  margin-bottom: 10px;
  font-size: 20px;
  background-image: url("../public/military.png");
  background-color: rgba(0, 0, 0, 0.7);
}

.klamie {
  width: 100%;
  height: 100%;
  background-image: url("../public/bgg.png");
}

.lobby_container {
  display: flex;
  align-items: inherit;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 85%;
}

.left {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  max-height: 100%;
  box-sizing: border-box;
}

.left_top {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  align-items: center;
}

.avatar_holder {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 20%;
  box-sizing: border-box;
}

.avatar_holder > img {
  width: 80px;
  height: 80px;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  top: 50%;
}

.chat {
  background-color: rgba(27, 21, 21, 0.65);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 80%;
  max-height: 80%;
  box-sizing: border-box;
  border: 3px solid black;
}

.chat_messages {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 93%;
  max-height: 93%;
  padding: 10px;
}

.message_container {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-x: hidden;
}

.message_name {
  width: 40%;
  padding-right: 10px;
  text-align: right;
  font-size: 15px;
  word-break: break-word;
}

.message_text {
  width: 60%;
  word-break: break-word;
  font-size: 15px;
  padding-left: 10px;
}

.input_holder {
  height: auto;
  width: 100%;
  height: 7%;
  padding: 5px;
}

.input_holder > input[type="text"] {
  border: 2px solid black;
  color: black;
  padding-left: 10px;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem !important;
  background-color: rgba(27, 21, 21, 0.6);
  color: white;
  position: relative;
}

input[type="text"]:focus {
  outline: none !important;
}

.middle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  max-height: 100%;
  box-sizing: border-box;
}

.notifications {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.bottom {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  max-height: 100%;
  box-sizing: border-box;
}

.card {
  width: 100%;
  border-radius: 0%;
  border: none;
  background-color: rgba(27, 21, 21, 0.65);
  padding: 5px;
}

.user_info {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.lobby_team {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.lobby_friends {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 60%;
  max-height: 60%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal_add_friends_container {
  display: none;
  position: fixed;
  z-index: 1;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_add_friends {
  background-color: #191a1b;
  position: relative;
  display: flex;
  flex-direction: row;
  border: 3px solid #888;
  z-index: 99;
  width: auto;
  height: 10%;
  align-items: center;
  justify-content: center;
}

.modal_close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  height: auto;
  width: auto;
  line-height: 50%;
  margin-top: -0.1em;
  cursor: pointer;
  transition: ease-in 0.3s;
}

.modal_close:hover {
  transition: ease-in-out 0.3s;
  color: red;
}

.game_container {
  width: 100%;
  height: 100%;
}

.game_container > canvas {
  background-color: white;
}
