@import url("https://fonts.googleapis.com/css?family=Quicksand|Sigmar+One&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  background-color: #111018;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(23, 28, 34, 0.8);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.app_container {
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.content_container {
  background: rgba(23, 28, 34, 0.8);
  color: white;
  height: 90%;
  width: 66%;
  max-width: 66%;
  max-height: 90%;
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 10px;
  text-decoration: none;
  color: white;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.chat,
.nick,
.clan,
.card,
.party_member {
  background-color: rgba(33, 36, 61, 0.6);
}

.friend_container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}

.invite_icon,
.kick_icon {
  position: absolute;
  right: 0;
  top: 1%;
  transition: ease-in 0.3s;
}

.chat_icon {
  position: absolute;
  right: 0;
  bottom: 1%;
  transition: ease-in 0.3s;
}

svg:hover {
  color: red;
  transition: ease-in-out 0.3s;
}

.card-text {
  margin: 0;
}

.friend_status {
  padding-right: 0px;
  width: 100%;
  position: relative;
}

.invite_button {
  width: 50px;
  height: 10px;
  margin: 0;
  font-size: 9px;
  justify-content: center;
}

.nick,
.clan {
  margin-bottom: 10px;
}

.klamie {
  width: 100%;
  height: 100%;
}

.lobby_container {
  display: flex;
  align-items: inherit;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 85%;
}

.left {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  max-height: 100%;
  box-sizing: border-box;
}

.left_top {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  align-items: center;
}

.avatar_holder {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 15%;
  box-sizing: border-box;
}

.avatar_holder > img {
  width: 64px;
  height: 64px;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  top: 50%;
}

.chat {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 85%;
  max-height: 85%;
  box-sizing: border-box;
}

.middle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  max-height: 100%;
  box-sizing: border-box;
}

.notifications {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.bottom {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 100%;
}

.right {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  max-height: 100%;
  box-sizing: border-box;
}

.card {
  width: 100%;
  border-radius: 0%;
  border: none;
}

.user_info {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.lobby_team {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.lobby_friends {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 60%;
  max-height: 60%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

.game_container > canvas {
}
