@import url("https://fonts.googleapis.com/css?family=Quicksand|Sigmar+One&display=swap");
body {
  font-family: "Quicksand", sans-serif;
  background-color: #111018;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.app_container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.content_container {
  background: rgba(23, 28, 34, 0.8);
  color: white;
}

.btn {
  margin: 10px;
  text-decoration: none;
  color: white;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.chat,
.nick,
.clan,
.card,
.party_member {
  background-color: rgba(33, 36, 61, 0.6);
}

.nick,
.clan {
  margin-bottom: 10px;
}

.lobby_container {
  display: flex;
  align-items: inherit;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 80%;
}

.left {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  max-height: 100%;
  box-sizing: border-box;
}

.left_top {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  align-items: center;
}

.avatar_holder {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 20%;
  box-sizing: border-box;
  align-items: center;
}

.avatar_holder > img {
  max-width: 100%;
  max-height: 100%;
}

.chat {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 80%;
  max-height: 80%;
  box-sizing: border-box;
}

.middle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  max-height: 100%;
  box-sizing: border-box;
}

.bottom_ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 20%;
  box-sizing: border-box;
}

.right {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  height: 100%;
  box-sizing: border-box;
}

.card {
  width: 100%;
}

.user_info {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 20%;
  box-sizing: border-box;
}

.lobby_team {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.lobby_friends {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  justify-content: center;
}

.bottom {
  display: flex;
  align-items: inherit;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 20%;
  width: 100%;
}
